img {
    width: 400px;
    height: 300px;
}

.diagram {
    width: 700px;
    height: 600px;

}

/*.button_get {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-evenly;*/
/*}*/
.box  {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly
    }
.box1  {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box2  {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}