img {
    width: 400px;
    height: 300px;
}

.diagram {
    width: 700px;
    height: 600px;

}

.button_get {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box  {
    display: flex;
    flex-direction: row;
    }
.box1  {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box2  {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}