App {
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

Routes {
  width: 1000px;
}

footer {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}


.foot {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  margin-left: 20px;
}

.hed {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
